<!DOCTYPE html>
<html>
<head>
    <title>MiniPlayerApp</title>
    <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
    <%- include('./common/navbar.ejs') %>
    <h1 style="text-align: center;">Search</h1>
    <form action="/search" method="get" style="text-align: center;">
        <input type="text" name="search" placeholder="Search by name" value="<%= search %>">
        <select name="category">
            <option value="">All Categories</option>
            <option value="rock" <%= category === 'rock' ? 'selected' : '' %>>Rock</option>
            <option value="pop" <%= category === 'pop' ? 'selected' : '' %>>Pop</option>
            <option value="jazz" <%= category === 'jazz' ? 'selected' : '' %>>Jazz</option>
            <option value="classical" <%= category === 'classical' ? 'selected' : '' %>>Classical</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <section style="margin-left: 16px;">
    <%- include('./common/songsList.ejs', {items, emptyInfo: items === null && "Wpisz frazę wyszukiwania"}) %>
    </section>
</body>
</html>
