<!DOCTYPE html>
<html>
<head>
    <title>Songs in <%= category %></title>
    <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
<%- include('./common/navbar.ejs') %>
<h1 style="text-align: center;">Songs in <%= category %></h1>
<ul>
    <% items.forEach(function(song) { %>
        <li>
            <a href="/player/<%= song.id %>">
                <%= song.title %> by <%= song.author %>
            </a>
            <form action="/delete/<%= song.id %>" method="post" class="delete-form">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </li>
    <% }); %>
</ul>
</body>
</html>
